*{
    box-sizing: border-box;
    
}

body{
    margin: 0px;
}
.menu-container{
    /* border: 1px solid red; */
    background-color: lightpink;
    height: 4rem;
}
.formula-sontainer{
    /* border: 1px solid red; */
    height: 2rem;
    background-color: lightcoral;
}
.sheet-container{
    /* border: 1px solid red; */
    background-color: lightblue;
    height: 2rem;
    display: flex;
}
.grid-container{
    border: 1px solid red;
    height: calc( 100vh - ( 4rem + 2rem + 2rem));
    background-color: lightgreen;
}
.add-sheet_btn-container{
    width: 2rem;
    border: 1px solid;
    height: 100%;
    padding-top: 0.2rem;
    padding-left: 0.3rem;

}
.sheet-list{
   width: calc(100vw - 3rem);
   /* border: 1px solid; */
}
.sheet{
    width: 5rem;
    border: 1px solid blue;
    height: 100%;
}